html, body, div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ml5{
    margin-left: 5px;
}

.mr5{
    margin-right: 5px;
}

.pd10{
    padding: 10px 0;
}

textarea {
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
